<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{views/restaurant/fragments/master_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="userFullname" class="info"><a href="#" th:text="${userFullName}" class="d-block"></a></div>
<div class="div-content" layout:fragment="content">
    <script>
        $(function () {
            $("#booking-management").addClass("menu-open");
        })

        $('#btn-add-dish').click(function () {
            $('#dish-table').children('tbody').children('tr').children('td').children('div').children('input')
        })
    </script>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thông tin đặt bàn</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-order"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-order active">Sửa bàn đặt</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-order"><a class="nav-link active" href="#customer-info" data-toggle="tab">Thông
                                tin
                                khách hàng</a></li>
                            <li class="nav-order"><a class="nav-link" href="#dish-order" data-toggle="tab">Gọi món</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="customer-info">

                            <div class="row">
                                <div class="col-12">
                                    <div class="card-body">
                                        <form role="form" action="#" th:action="@{/restaurant/booking/create}"
                                              method="post" th:object="${obj}">
                                            <input type="hidden" th:value="${obj.id}" th:field="*{id}">
                                            <input type="hidden" th:value="${obj.restaurant}"
                                                   th:field="*{restaurant}">
                                            <div class="form-group">
                                                <label for="guest_name">Tên khách hàng</label>
                                                <input type="text" class="form-control" id="guest_name"
                                                       placeholder="Nhập tên khách hàng"
                                                       th:value="${obj.guestName}"
                                                       th:field="*{guestName}">
                                            </div>
                                            <div class="form-group">
                                                <label for="guest_telephone">Số điện thoại</label>
                                                <input type="text" class="form-control" id="guest_telephone"
                                                       placeholder="Nhập số điện thoại"
                                                       th:value="${obj.guestTelephone}"
                                                       th:field="*{guestTelephone}">
                                            </div>
                                            <div class="form-group">
                                                <label for="person_no">Số lượng ghế</label>
                                                <input type="number" class="form-control" id="person_no"
                                                       th:value="${obj.quantity}" th:field="*{quantity}">
                                            </div>
                                            <div class="form-group">
                                                <label for="booking_detail">Yêu cầu chi tiết</label>
                                                <textarea class="form-control" id="booking_detail" rows="3"
                                                          placeholder="Nhập ..." th:value="${obj.bookingDetail}"
                                                          th:field="*{bookingDetail}"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Thời gian</label>
                                                <div>
                                                    <div class="row">
                                                        <div class='col-sm-6'>
                                                            <input type='datetime-local' class="form-control"
                                                                   th:value="${obj.bookingDatetime}"
                                                                   th:field="*{bookingDatetime}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary">Sửa</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="dish-order">
                            <!-- The timeline -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-body">
                                        <button id="btn-add-dish" type="button"
                                                class="btn btn-default bg-gradient-success" data-toggle="modal"
                                                data-target="#modal-lg">Thêm món
                                        </button>

                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Tên món</th>
                                                <th>Ảnh</th>
                                                <th>Giá</th>
                                                <th>Số lượng</th>
                                                <th>Hành động</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <th:block th:if="${listOrder.size() != 0}" th:each="order:${listOrder}">
                                                <tr>
                                                    <td th:text="${order.id}"></td>
                                                    <td th:text="${order.dish.name}"></td>
                                                    <td>
                                                        <img th:src="${order.dish.image}"
                                                             style="width: 300px; height: 300px">
                                                    </td>
                                                    <td th:text="${order.dish.price}"></td>
                                                    <td style="width: 20%">
                                                        <button type="button" class="btn btn-default"><i
                                                                class="fa fa-minus"></i></button>
                                                        <input type="number">
                                                        <button type="button" class="btn btn-default"><i
                                                                class="fa fa-plus"></i></button>
                                                    </td>
                                                    <td><a href="#"><i class="fa fa-trash"> Xóa</i></a></td>
                                                </tr>
                                            </th:block>
                                            <th:block th:if="${listOrder.size() == 0}">
                                                <tr>
                                                    <td></td>
                                                    <td>Không có món được gọi, vui lòng thêm món</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chọn món</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="dish-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên</th>
                            <th>Loại món</th>
                            <th>Ảnh</th>
                            <th>Giá</th>
                            <th>Chọn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="dish:${listDish}">
                            <tr>
                                <td th:text="${dish.id}"></td>
                                <td th:text="${dish.name}"></td>
                                <td th:text="${dish.dishType.name}"></td>
                                <td><img th:src="${dish.image}" style="height: 300px; width: 300px;"></td>
                                <td th:text="${dish.price}"></td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" th:id="${'dish-'+dish.id}">
                                        <label class="form-check-label" th:for="${'dish-'+dish.id}"></label>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-between">
                    <button id="choose-dish" type="button" class="btn btn-primary">Chọn</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

<script>
    $('#choose-dish').click(function () {
        var listDishId = [];
        $('input:checkbox.form-check-input').each(function () {
            if (this.checked){
                listDishId.push(this.id.replace('dish-',''))
            }
        })
        console.log(listDishId.toString());
        window.location.href = "http://localhost:8080/restaurant/order/create?listId=" + listDishId.toString() + "&bookingId=" + $('input:hidden#id').val()
    })
</script>
</div>
</body>
</html>