<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Home 02</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/user/images/icons/favicon.png}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/fonts/themify/themify-icons.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/fonts/elegant-font/html-css/style.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/slick/slick.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/lightbox2/css/lightbox.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/vendor/noui/nouislider.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/main.css}">
    <!--===============================================================================================-->
</head>
<body class="animsition">

<!-- header fixed -->
<!--<div class="wrap_header fixed-header2 trans-0-4">-->
<!--    &lt;!&ndash; Logo &ndash;&gt;-->
<!--    <a href="/" class="logo">-->
<!--&lt;!&ndash;        <img th:src="@{/user/images/icons/logo.png}" alt="IMG-LOGO">&ndash;&gt;-->
<!--        <img src="https://www.pngfind.com/pngs/m/201-2013790_restaurant-icon-png-download-chef-logo-in-png.png">-->
<!--    </a>-->

<!--    &lt;!&ndash; Menu &ndash;&gt;-->
<!--    <div class="wrap_header">-->
<!--        <nav class="menu">-->
<!--            <ul class="main_menu">-->
<!--                <li>-->
<!--                    <a href="/">Trang chủ</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/list-restaurant?restaurantTypeId=0">Nhà Hàng</a>-->
<!--                    <ul class="sub_menu" layout:fragment="list-restaurant-type">-->
<!--                        <th:block th:each="restaurantType:${listRestaurantType}">-->
<!--                            <li><a th:href="@{/list-restaurant(restaurantTypeId=${restaurantType.id})}" th:text="${restaurantType.name}"></a></li>-->
<!--                        </th:block>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->

<!--    &lt;!&ndash; Header Icon &ndash;&gt;-->
<!--    <div class="header-icons">-->
<!--        <a href="#" class="header-wrapicon1 dis-block">-->
<!--            <img th:src="@{/user/images/icons/icon-header-01.png}" class="header-icon1" alt="ICON">-->
<!--        </a>-->

<!--        <span class="linedivide1"></span>-->

<!--        <div class="header-wrapicon2">-->
<!--            <img th:src="@{/user/images/icons/icon-header-02.png}" class="header-icon1 js-show-header-dropdown" alt="ICON">-->
<!--            <span class="header-icons-noti">0</span>-->

<!--            &lt;!&ndash; Header cart noti &ndash;&gt;-->
<!--            <div class="header-cart header-dropdown">-->
<!--                <ul class="header-cart-wrapitem">-->
<!--                    <li class="header-cart-order">-->
<!--                        <div class="header-cart-order-img">-->
<!--                            <img th:src="@{/user/images/order-cart-01.jpg}" alt="IMG">-->
<!--                        </div>-->

<!--                        <div class="header-cart-order-txt">-->
<!--                            <a href="#" class="header-cart-order-name">-->
<!--                                White Shirt With Pleat Detail Back-->
<!--                            </a>-->

<!--                            <span class="header-cart-order-info">-->
<!--                                    1 x $19.00-->
<!--                                </span>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li class="header-cart-order">-->
<!--                        <div class="header-cart-order-img">-->
<!--                            <img th:src="@{/user/images/order-cart-02.jpg}" alt="IMG">-->
<!--                        </div>-->

<!--                        <div class="header-cart-order-txt">-->
<!--                            <a href="#" class="header-cart-order-name">-->
<!--                                Converse All Star Hi Black Canvas-->
<!--                            </a>-->

<!--                            <span class="header-cart-order-info">-->
<!--                                    1 x $39.00-->
<!--                                </span>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li class="header-cart-order">-->
<!--                        <div class="header-cart-order-img">-->
<!--                            <img th:src="@{/user/images/order-cart-03.jpg}" alt="IMG">-->
<!--                        </div>-->

<!--                        <div class="header-cart-order-txt">-->
<!--                            <a href="#" class="header-cart-order-name">-->
<!--                                Nixon Porter Leather Watch In Tan-->
<!--                            </a>-->

<!--                            <span class="header-cart-order-info">-->
<!--                                    1 x $17.00-->
<!--                                </span>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->

<!--                <div class="header-cart-total">-->
<!--                    Total: $75.00-->
<!--                </div>-->

<!--                <div class="header-cart-buttons">-->
<!--                    <div class="header-cart-wrapbtn">-->
<!--                        &lt;!&ndash; Button &ndash;&gt;-->
<!--                        <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">-->
<!--                            View Cart-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="header-cart-wrapbtn">-->
<!--                        &lt;!&ndash; Button &ndash;&gt;-->
<!--                        <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">-->
<!--                            Check Out-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Header -->
<header class="header2">
    <!-- Header desktop -->
    <div class="container-menu-header-v2 p-t-26">
        <div class="topbar2">
            <div class="topbar-social">
                <a href="#" class="topbar-social-order fa fa-facebook"></a>
                <a href="#" class="topbar-social-order fa fa-instagram"></a>
                <a href="#" class="topbar-social-order fa fa-pinterest-p"></a>
                <a href="#" class="topbar-social-order fa fa-snapchat-ghost"></a>
                <a href="#" class="topbar-social-order fa fa-youtube-play"></a>
            </div>

            <!-- Logo2 -->
            <a href="/" class="logo2">
<!--                <img th:src="@{/user/images/icons/logo.png}" alt="IMG-LOGO">-->
                <img src="https://www.pngfind.com/pngs/m/201-2013790_restaurant-icon-png-download-chef-logo-in-png.png">
            </a>

            <div class="topbar-child2">
                <span th:if="${!#authentication.getName().equals('anonymousUser')}" class="topbar-email" th:text="${'Xin chào ' + #authentication.getName()}"></span>
                <span th:if="${#authentication.getName().equals('anonymousUser')}" class="topbar-email">Xin chào</span>

                <!-- divide -->
                <span class="linedivide1"></span>

                <div th:if="${#authentication.getName().equals('anonymousUser')}" class="header-wrapicon2 m-r-13">
                    <img th:src="@{/user/images/icons/icon-header-01.png}" class="header-icon1 js-show-header-dropdown" alt="ICON">

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-order">
                                <div class="container-fluid">
                                    <form action="/login" method="post">
                                        <div class="effect1 w-size9">
                                            <input class="s-text7 bg6 w-full p-b-5" type="text" name="username" placeholder="Tên đăng nhập">
                                        </div>
                                        <div class="effect1 w-size9">
                                            <input class="s-text7 bg6 w-full p-b-5" type="password" name="password" placeholder="Password">
                                            <span class="effect1-line"></span>
                                        </div>

                                        <div class="w-size2 p-t-20 container">
                                            <!-- Button -->
                                            <button type="submit" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                                                Đăng nhập
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="header-cart-order-txt container">
                                    <a href="#" class="header-cart-order-name text-center">Đăng ký</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div th:if="${!#authentication.getName().equals('anonymousUser')}" class="header-wrapicon2 m-r-13">
                    <img th:src="@{/user/images/icons/icon-header-01.png}" class="header-icon1 js-show-header-dropdown" alt="ICON">

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-order">
                                <div class="header-cart-order-img">
                                    <img th:src="@{/user/images/order-cart-03.jpg}" alt="IMG">
                                </div>

                                <div class="header-cart-order-txt">
                                    <a href="#" class="header-cart-order-name" th:text="${#authentication.getName()}"></a>

                                    <span class="header-cart-order-info">
                                        <a href="/booking-history">Xem lịch sử đặt bàn</a>
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <div class="header-cart-total" th:text="${'Tổng số lần đặt: ' + bookingTime}">
                            Tổng số lần đặt: 3
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Thay đổi
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="/logout" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Thoát
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- divide -->
                <!--<span class="linedivide1"></span>-->


            </div>
        </div>

        <div class="wrap_header">

            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li>
                            <a href="/">Trang chủ</a>
                        </li>

                        <li>
                            <a href="/list-restaurant?restaurantTypeId=0">Nhà Hàng</a>
                            <ul class="sub_menu" layout:fragment="list-restaurant-type">
                                <th:block th:each="restaurantType:${listRestaurantType}">
                                    <li><a th:href="@{/list-restaurant(restaurantTypeId=${restaurantType.id})}" th:text="${restaurantType.name}"></a></li>
                                </th:block>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Header Icon -->
            <div class="header-icons">

            </div>
        </div>
    </div>
</header>


<!-- Fragment -->
<div layout:fragment="content"></div>


<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
    <div class="flex-w p-b-90">
        <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                Liên hệ
            </h4>

            <div>
                <p class="s-text7 w-size27">
                    Với mọi thắc mắc hay đến với văn phòng ABC tại địa chỉ 397 phố ABC, Quận ABC, Thành phố Hà Nội để được giải đáp
                </p>

                <div class="flex-m p-t-30">
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                </div>
            </div>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Nhà Hàng
            </h4>

            <ul>
                <th:block th:each="restaurantType:${listRestaurantType}">
                    <li class="p-b-9">
                        <a th:href="@{/list-restaurant(restaurantTypeId=${restaurantType.id})}" class="s-text7" th:text="${restaurantType.getName()}"></a>
                    </li>
                </th:block>

            </ul>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Liên kết
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Tìm kiếm
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Về chúng tôi
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Liên hệ
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Hỗ Trợ
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Tài khoản
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Hủy lịch đặt
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        FAQs
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                Để được hỗ trợ chi tiết, Vui lòng nhập địa chỉ Email
            </h4>

            <form>
                <div class="effect1 w-size9">
                    <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                    <span class="effect1-line"></span>
                </div>

                <div class="w-size2 p-t-20">
                    <!-- Button -->
                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                        Đăng ký
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="t-center p-l-15 p-r-15">
        <a href="#">
            <img class="h-size2" th:src="@{/user/images/icons/paypal.png}" alt="IMG-PAYPAL">
        </a>

        <a href="#">
            <img class="h-size2" th:src="@{/user/images/icons/visa.png}" alt="IMG-VISA">
        </a>

        <a href="#">
            <img class="h-size2" th:src="@{/user/images/icons/mastercard.png}" alt="IMG-MASTERCARD">
        </a>

        <a href="#">
            <img class="h-size2" th:src="@{/user/images/icons/express.png}" alt="IMG-EXPRESS">
        </a>

        <a href="#">
            <img class="h-size2" th:src="@{/user/images/icons/discover.png}" alt="IMG-DISCOVER">
        </a>

        <div class="t-center s-text8 p-t-20">
            Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        </div>
    </div>
</footer>



<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>

<!-- Modal Video 01-->
<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document" data-dismiss="modal">
        <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

        <div class="wrap-video-mo-01">
            <div class="w-full wrap-pic-w op-0-0"><img th:src="@{/user/images/icons/video-16-9.jpg}" alt="IMG"></div>
            <div class="video-mo-01">
                <iframe src="https://www.youtube.com/embed/Nt8ZrWY2Cmk?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/bootstrap/js/popper.js}"></script>
<script type="text/javascript" th:src="@{/user/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/select2/select2.min.js}"></script>
<script type="text/javascript">
    $(".selection-1").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });

    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect2')
    });
</script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/slick/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/user/js/slick-custom.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/lightbox2/js/lightbox.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/sweetalert/sweetalert.min.js}"></script>
<script type="text/javascript">
    $('.block2-btn-addwishlist').each(function(){
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function(){
            swal(nameProduct, "is added to wishlist !", "success");
        });
    });
</script>

<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/parallax100/parallax100.js}"></script>
<script type="text/javascript">
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/noui/nouislider.min.js}"></script>
<script type="text/javascript">
    /*[ No ui ]
    ===========================================================*/
    var filterBar = document.getElementById('filter-bar');

    noUiSlider.create(filterBar, {
        start: [ 50, 200 ],
        connect: true,
        range: {
            'min': 50,
            'max': 200
        }
    });

    var skipValues = [
        document.getElementById('value-lower'),
        document.getElementById('value-upper')
    ];

    filterBar.noUiSlider.on('update', function( values, handle ) {
        skipValues[handle].innerHTML = Math.round(values[handle]) ;
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/user/js/main.js}"></script>
<style>
    .square-img {
        width:270px;
        height:270px;
        object-fit:cover;
    }

    .product-img {
        width:270px;
        height:360px;
        object-fit:cover;
    }
</style>
</body>
</html>